.sidebar-menu {
  background-color: #1e213a;
  min-height: 100vh;
  animation-name: openMenu;
  animation-duration: 2s;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 15px;
  z-index: 2;
}
@keyframes openMenu {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.close-menu {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #e7e7eb;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.search-icon {
  position: absolute;
  left: 25px;
  font-size: 16px;
  color: #616475;
}
input {
  border: 1px solid #e7e7eb;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  width: 70%;
  background: transparent;
  padding: 15px 40px;
  box-shadow: none;
}
.submit-btn {
  width: 30%;
  background: #3c47e9;
  color: white;
  font-weight: 600;
  padding: 16px 19px;
  font-size: 16px;
}
ul {
  padding: 0;
  margin-top: 38px;
}
ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  background: transparent;
  color: #e7e7eb;
  font-weight: 500;
  text-align: left;
  margin-bottom: 28px;
  padding: 23px 12px;
  border: 1px solid #1e213a;
  list-style-type: disc;
}
ul li:hover {
  border: 1px solid #e7e7eb;
}
